<!-- <p> {{ title }} en mi casa con angular</p>
<p> Total: suma de 5 +5: {{ 5 + 5 }} </p>

<img src="{{url}}" alt="drawing"/> -->

<!--<p *ngIf="name">El nombre es : {{name}}</p>
<input type="text" [(ngModel)]="name" />-->


<ul *ngFor="let city of cities">
    <li (click)="onCityClicked(city)" [ngClass]="{'selected': city === selection}">{{city}}</li>
</ul>

<div *ngIf="selection">
    <p >Your city is: {{selection}}</p>
    <!-- <button (click)="onClear()">Clear</button> -->
    <app-button (click)="onClear()" [color]="'blue'" [label]="'Clear'" [selection]="selection"></app-button>
    <!-- <app-button (click)="onClear()" [color]="'green'" [label]="'ahre'"></app-button>
    <app-button (click)="onClear()" [color]="'red'" [label]="'haram'"></app-button> -->
</div>